{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
    
    <title>recuperar</title>
</head>
<body>   
    
    <main id="container">
        <form id="login_form" method="POST">
            {% csrf_token %}
            <!-- FORM HEADER -->
            <div id="form_header">
                <h2>recuperar senha</h2>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
            </div>

            <!-- INPUTS -->
            <div id="inputs">
                </div>
                <!-- EMAIL -->
                {% csrf_token %}
                <div class="input-box">
                    <label for="email">
                        digite o email cadastrado
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="Email" id="Email" name="email">
                        </div>
                    </label>
                </div>
                
                   
                </div>
            </div>

            <!-- LOGIN BUTTON -->
            <button type="submit" id="login_button">
               reinicializar senha
            </button>
        </form>
    </main>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{% static 'js/roteiro.js' %}"></script>
</body>
</html>