{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'css/resetsant.css' %}">
    
    <title>enviar email</title>
</head>

<body>   
    <main id="container">
        <form id="login_form" method="POST">
            <!-- FORM HEADER -->
            <div id="form_header">
                <h2>Redefinição de senha enviada</h2>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>


              
        
            </div><div class="input-box">
                
                <div> <h4> Nos te enviamos um email com instruções para configurar</h4> </div>
                <div> <h4> sua senha, se uma conta existe com o email fornecido. Você </h4> </div>
                <div> <h4> receberá a mensagem em breve. Se você não recebeu um email, </h4></div> 
                <div> <h4> por favor certifique-se que você forneceu o endereço que </h4></div> 
                <div> <h4> você está cadastrado, e verifique sua pasta de spam.</h4></div>

            {% csrf_token %}

            
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="{% static 'js/roteiro.js' %}"></script>
</body>
</html>